{% extends '::base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <p>Dane kontaktu:</p>
    {{ include('AppBundle:Person:person.html.twig', {'person':person}) }}
<hr>
    <p>Edycja danych kontaktu</p>
    {{ form(form) }}
<hr>
    <p>Dodawanie adresu</p>
    {{ form(addressForm) }}

{% endblock %}

