{{ include('AppBundle:Person:personLine.html.twig', {'person':person}) }}
<p>Adresy:</p>
<ol>
{% for address in person.addresses %}
    <li>{{ include('AppBundle:Address:address.html.twig', {'person': person}) }}</li>
{% else %}
    <p>Brak adresów</p>
{% endfor %}
</ol>
    <p>E-maile</p>
<ol>
    {% for email in person.emails %}
        <li>{{ include('AppBundle:Email:email.html.twig', {'person': person}) }}</li>
    {% else %}
        <p>Brak emaili</p>
    {% endfor %}
</ol>
    <p>Telefony</p>

    <ol>
    {% for phone in person.phones %}
        <li>{{ include('AppBundle:Phone:phone.html.twig', {'person': person}) }}</li>
    {% else %}
        <p>Brak telefonów</p>
    {% endfor %}
</ol>