{% extends '::base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        <p style="text-align: right"><a href="{{ path('app_person_new') }}">Dodaj kontakt</a></p>
    </div>
{% for person in people %}
{{ include('AppBundle:Person:personLine.html.twig', {'person' : person}) }}

    <hr>
{% endfor %}
{% endblock %}

